.main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 55px;
    background-color: rgba(246, 234, 234, 0.516);
  }
.bod{
  background-image:url("../extras/image.jpg");
  height:70%;
}  
  .footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    font-weight: 600;
    
  }
  
  .image {
    
    width: 70%;
    height: 50%;
    margin-left: 20%;
  }
  

  .description {
    line-height: 1;
    margin: 2rem 0;
    font-weight: 600;

  }
  
  .button {
    border-radius: 7px;
    background-color: red;
    border: none;
    color: #ffffff;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 2%;
    font-weight: 600;
  }
  @media (max-width: 1000px) {
    .main {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
  }
  div.welcome{
    font-weight: 500;
    font-size: 49px;
  }
  